<div class="row pt-3">
  <div class="col-4 col-md-4"></div>
  <div class="col-6 col-md-6">
      <nav class="nav">
        <ul class="menu">
          <li class="item">
            <a routerLink="/suivant">Tête et Cou</a>
          </li>
          <li class="item">
            <a routerLink="/suivant">Membres supérieurs</a>
          </li>
          <li class="item">
            <a routerLink="/suivant">Colonnes vertébrales-rachis</a>
          </li>
          <li class="item">
            <a routerLink="/suivant">Thorax Abdomen et pelvis</a>
          </li>
          <li class="item">
            <a routerLink="/suivant">Membres inférieurs</a>
          </li>
        </ul>
      </nav>
  </div>
  <div class="col-2 col-md-2"></div>
</div>